<%# CSS・・・assets/stylesheets/shared/header.css %>

<header id="page-header">
  <div id="navArea">
    <div class="logo-icon">
      <%= link_to image_tag("furima-logo-color.png"), "/" %>
    </div>
    <nav>
      <div class="inner">
        <% if user_signed_in? %>
          <dl class="user-profile">
            <dt><%= link_to current_user.nickname, "#", class: "user-nickname" %></dt>
            <dd><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></dd>
          </dl>
        <% end %>
        <ul>
          <% unless user_signed_in? %>
            <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <% end %>
          <li>お知らせ</li>
          <li>会社概要</li>
          <li>利用規約</li>
        </ul>
      </div>
    </nav>

    <div class="toggle_btn" id="btn10">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div id="mask"></div>
  </div>
</header>

<script>
(function($) {
  var $nav   = $('#navArea');
  var $btn   = $('.toggle_btn');
  var $mask  = $('#mask');
  var open   = 'open'; // class
  // menu open close
  $btn.on( 'click', function() {
    if ( ! $nav.hasClass( open ) ) {
      $nav.addClass( open );
    } else {
      $nav.removeClass( open );
    }
  });
  // mask close
  $mask.on('click', function() {
    $nav.removeClass( open );
  });
} )(jQuery);
</script>