<% if user_signed_in? %>
  <%= render "shared/header" %>
<% else %>
  <%= render "shared/second-header" %>
<% end %>

<div class="main">
  <% if user_signed_in? %>
    <h2>新着スタンプラリー</h2>
    <ul class="cards-list">
      <% if @cards.exists? %>
        <% @cards.each do |card| %>
          <li>
            <dl class="card-detail">
              <dt class="user-avatar">
                <%= image_tag("default-avatar.png") %>
              </dt>
              <dd class="card-text">
                <%= link_to card_path(card.id) do %>
                  <h3 class="user-nickname"><%= card.user.nickname %></h3>
                  <p class="card-title"><%= card.title %></p>
                <% end %>
              <dd>
            </dl>
          </li>
        <% end %>
      <% else %>
        <li>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="top-intro">
      <div class="inner">
        <h1>キミのおすすめ<br>もっと知りたいな。</h1>
        <ul class="intro-signup">
          <li><%= link_to "新規登録はこちら", new_user_registration_path, class: "form-yellow-btn" %></li>
          <li><%= link_to "ログイン", new_user_session_path, class: "form-login-btn" %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= render "shared/footer" %>
<% end %>