<%= render "shared/header" %>

<%= form_with model: @card_place, url: cards_path, local: true do |f| %>
<div class="form-wrap">
  <h1 class="form-header">カードの情報を入力</h1>
  <%= render 'shared/error_messages', model: @card_place %>

  <ul class="form-group">
    <li class="form-string">
      <label class="form-subject">カード名</label>
      <span class="indispensable">必須</span>
      <%= f.text_area :title, class:"input-string", id:"card-title", placeholder:"カード名(50文字まで)", maxlength:"50" %>
    </li>
    <li class="form-text">
      <label class="form-subject">説明</label>
      <span class="indispensable">必須</span>
      <%= f.text_area :description, class:"input-text", id:"card-description", placeholder:"カードの説明(必須 1,000文字まで)" ,rows:"7" ,maxlength:"1000" %>
    </li>
    <li class="form-pulldown">
      <label class="form-subject">カテゴリー</label>
      <span class="indispensable">必須</span>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"card-category"}) %>
    </li>
  </ul>

  <h2 class="form-header">お店の情報を入力</h2>

  <ul class="form-group">
    <li class="form-string">
      <label class="form-subject">店舗名</label>
      <span class="indispensable">必須</span>
      <%= f.text_area :name, class:"input-string", id:"place-name", placeholder:"店舗名(50文字まで)", maxlength:"50" %>
    </li>
    <li class="form-string">
      <label class="form-subject">おすすめメニュー</label>
      <span class="indispensable">必須</span>
      <%= f.text_area :menu, class:"input-string", id:"place-menu", placeholder:"おすすめメニュー(50文字まで)", maxlength:"50" %>
    </li>
    <li class="form-image">
      <label class="form-subject">メニュー画像</label>
      <span class="indispensable">必須</span>
      <div class="click-upload">
        <p>※クリックしてファイルをアップロード</p>
        <%= f.file_field :image, class:"input-image", id:"place-image" %>
      </div>
    </li>
    <li class="form-pulldown">
      <label class="form-subject">都道府県</label>
      <span class="indispensable">必須</span>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"place-prefecture"}) %>
    </li>
    <li class="form-string">
      <label class="form-subject">アドレス</label>
      <span class="indispensable">必須</span>
      <%= f.text_area :address, class:"input-string", id:"place-address", placeholder:"アドレス(100文字まで)", maxlength:"100" %>
    </li>
    <li class="form-string">
      <label class="form-subject">Google Map</label>
      <%= f.text_area :map, class:"input-string", id:"place-map", placeholder:"Google MapのURLを入力(任意)", maxlength:"500" %>
    </li>
  </ul>

  <div class="btn-group">
    <%= f.submit "作成する" ,class:"form-yellow-btn" %>
    <%= link_to 'もどる', root_path, class:"form-back-btn" %>
  </div>
</div>
<% end %>

<%= render "shared/footer" %>