<%= render "shared/header" %>

<div class="main">
  <div class="detail-image"><%= image_tag @place.image %></div>  

  <h2 class="midashi-list">Detail</h2>
  <ul class="place-info">
    <li>
      <h3 class="place-name"><span>店舗名：</span><%= @place.name %></h3>
      <p class="place-menu"><span>おすすめメニュー：</span><%= @place.menu %></p>
      <p class="place-pref"><span>所在地：</span><%= @place.prefecture.name %></p>
      <p class="place-address"><span>アドレス：</span><%= @place.address %></p>
      <p class="place-map"><span>Google Map：</span><%= link_to "こちら", @place.map %></p>
    </li>
  </ul>
  <% if user_signed_in? && current_user.id == @place.card_id %>
    <%= link_to "リスト編集", edit_card_place_path(@place.card_id, @place.id), method: :get, class: "form-yellow-btn" %>
    <%= link_to "リスト削除", card_place_path(@place.card_id, @place.id), method: :delete, class:"form-destroy-btn" %>
  <% end %>
</div>

<%= render "shared/footer" %>
